@using System.Configuration
@using System.Web.UI.WebControls
@using MakeYourMeal.Data.Models
@model MakeYourMeal.ViewModels.FoodItemAndIgredientsViewModel

@{
	ViewBag.Title = "Details";
	const string path = "/Images/";
}

<h2>
	@{
		var imagePath = path + Model.ImagePath;
		<div class="floatL">
			<img src="@imagePath" alt="@Model.Name" />
		</div>
	}
</h2>

<div class="floatL">
	<dl class="dl-horizontal">

		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt>
			@Html.DisplayNameFor(model => model.CategoryName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.CategoryName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Price)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Price) <text>L.L</text>
		</dd>
		<dt> Add To Order</dt>
		<dd> <button type="button" class="btn btn-default addToOrder">Add To Order</button> </dd>

	</dl>
</div>

<hr class="clearB" />

<div id="droppable-6" class="ui-widget-header">
	<img src="~/Images/Trash.png" class="img-responsive" />
</div>
<div id="drag-container">
	<ul class="media-list media-middle text-center">
		@foreach (var ing in Model.Ingredients)
		{
			var ingImgPath = path + ing.ImagePath;
			<li class="media-object text-center">
				<img src="@ingImgPath" class="img-responsive draggable center-block" alt="@ing.Name" />
			</li>
		}
	</ul>
</div>
<script>
	$(function () {
		$('.addToOrder').click(function () {
			var url = "/Order/AddOrderItem/@Uri.EscapeUriString(Model.Name)";
			$.post(url, function (data) {
				//Fill div with results
			});
		});

		$('.draggable').draggable({
			revert: function (event, ui) {
				$(this).data("uiDraggable").originalPosition = {
					top: 0,
					left: 0
				};
				return !event;
			},
			scroll: false
			//containment: "document"
		});
	});

	$("#droppable-6").droppable({
		activeClass: "droppable-active",
		hoverClass: "hover",
		drop: function (event, ui) {
			$(this)
			.addClass("ui-state-highlight")
			.find("p")
			.html("Dropped!");
		}
	});
</script>