<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Content/css")
	@*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top navbar-top-style">
		<div class="container">
			<div class="navbar-header">
				<img class="logo-position" src="~/Images/logo.png" alt="Burger Shop" />
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Burger Shop", "Index", "FoodItems", null, new { @class = "navbar-brand bigger-font" })
			</div>
			<div class="navbar-collapse collapse">
				@Html.Partial("_LoginPartial")
			</div>
		</div>
	</div>
	<div class="fit-all">
		@RenderBody()
		@*<footer>
				<p>&copy; @DateTime.Now.Year - Burger Shop</p>
			</footer>*@
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/jqueryunob")
	<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
	<script src="~/Scripts/jquery-ui-touch-punch.js"></script>
	<script src="~/Scripts/knockout-3.3.0.js"></script>
	@RenderSection("scripts", required: false)
</body>
</html>
