@model IEnumerable<MakeYourMeal.Data.Models.Order>

@{
	ViewBag.Title = "Orders";
}

<h2> Orders</h2>
<table class="table table-striped" style="width: 75% ; margin-left: auto ; margin-right: auto ;">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.TableNumber)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.OrderedAt)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.TotalCost)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.State)
			</th>
			<th></th>
		</tr>
	</thead>
    <tbody data-bind="foreach: currentTransactions">
        <tr data-bind="">
            <td data-bind="text: TableNumber"></td>
            <td data-bind="text: OrderTime"></td>
            <td data-bind="text: TotalCost"></td>
            <td data-bind="text: State"></td>
            <td>
                <a data-bind="attr: {'href':  '@Url.Action("OrderDetails", "Order")/' + OrderId}, text: 'Details'"></a>
                <a data-bind="attr: {'href':  '@Url.Action("OrderReady", "Order")/' + OrderId}, text: 'Ready'"></a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                <span data-bind="click:previousPage, visible:currentPage() > 1" class="glyphicon glyphicon-circle-arrow-left" style="cursor:pointer;"></span>
                <span>Page:</span><span data-bind="text:currentPage"></span>
                <span data-bind="click:nextPage ,visible: currentPage() < Math.ceil (Orders().length / pageSize )" class="glyphicon glyphicon-circle-arrow-right" style="cursor:pointer;"></span>
            </td>
        </tr>
    </tfoot>
</table>

@section scripts
{
	<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
	<script type="text/javascript" src="~/signalr/hubs"></script>
	<script src="~/Scripts/knockout-3.3.0.js"></script>
	<script src="~/Scripts/toastr.min.js"></script>
	<script src="~/Scripts/OrderAdmin.js"></script>
}